Repository tsuka-ryu/my-todo-app-with-claude-code: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, eslint

markdownlint:
  run: npx markdownlint {staged_files} --fix
  stage_fixed: true

eslint:
  run: npm run lint

feat: improve development experience with port configuration and sample data cleanup
  .markdownlint.json
  CLAUDE.md
  README.md
  lefthook.yml
  package.json
  scripts/clean-todos.js
  todos/API最適化-2.md
  todos/API最適化-2.meta.json
  todos/コードレビュー-2.md
  todos/コードレビュー-2.meta.json
  todos/セキュリティ監査-2.md
  todos/セキュリティ監査-2.meta.json
  todos/テスト用のTODO作成-2.md
  todos/テスト用のTODO作成-2.meta.json
  todos/テスト用のTODO作成.md
  todos/テスト用のTODO作成.meta.json
  todos/ドキュメント更新-2.md
  todos/ドキュメント更新-2.meta.json
  todos/バグ修正-ログイン画面のエラー処理-2.md
  todos/バグ修正-ログイン画面のエラー処理-2.meta.json
  todos/技術調査-2.md
  todos/技術調査-2.meta.json
  todos/新しいスキルの習得-2.md
  todos/新しいスキルの習得-2.meta.json
  todos/来週のプロジェクトミーティング準備.md
  todos/来週のプロジェクトミーティング準備.meta.json
Due: markdownlint, eslint

docs: add git initialization step to README setup instructions
  README.md
Due: markdownlint

feat: add sample TODO files for demonstration
  todos/sample-1.md
  todos/sample-1.meta.json
  todos/sample-2.md
  todos/sample-2.meta.json
  todos/sample-3.md
  todos/sample-3.meta.json
  todos/sample-4.md
  todos/sample-4.meta.json
  todos/sample-5.md
  todos/sample-5.meta.json
Due: markdownlint

fix: update display content immediately when saving todo edits
  src/components/TodoModal.tsx
  todos/sample-1.md
  todos/sample-1.meta.json
Due: markdownlint, eslint

feat: enhance todo editing experience with WYSIWYG editor and auto-save
  src/components/RichTextEditor.tsx
  src/components/TagSelector.tsx
  src/components/TodoModal.tsx
  todos/sample-1.md
  todos/sample-1.meta.json
  todos/sample-2.md
  todos/sample-2.meta.json
  todos/sample-4.md
  todos/sample-4.meta.json
  todos/sample-5.md
  todos/sample-5.meta.json
Due: markdownlint, eslint

feat: add markdown input shortcuts and improve new todo form layout
  src/components/NewTodoForm.tsx
  src/components/RichTextEditor.tsx
  src/lib/markdownInputHandler.ts
  todos/sample-1.meta.json
  todos/sample-3.md
  todos/sample-3.meta.json
Due: markdownlint, eslint

feat: add paragraph button and improve markdown input handling
  src/components/RichTextEditor.tsx
  src/lib/markdown.ts
  src/lib/markdownInputHandler.ts
Due: eslint

refactor: replace Tiptap with BlockNote for rich text editing
  package-lock.json
  package.json
  src/app/api/migrate/route.ts
  src/app/api/todos/reorder/route.ts
  src/components/RichTextEditor.tsx
  src/lib/markdown.ts
  src/lib/markdownInputHandler.ts
  src/lib/slug.ts
  src/lib/todo.ts
  src/lib/types.ts
Due: eslint

fix: resolve BlockNote editor initialization errors
  src/components/RichTextEditor.tsx
  todos/BlockNoteテスト.md
  todos/BlockNoteテスト.meta.json
Due: markdownlint, eslint

feat: implement working BlockNote markdown conversion
  src/components/RichTextEditor.tsx
  todos/sample-1.meta.json
  todos/sample-4.meta.json
  todos/test.md
  todos/test.meta.json
  todos/マークダウンテスト.md
  todos/マークダウンテスト.meta.json
Due: markdownlint, eslint

refactor: remove all Tiptap-specific legacy code and dependencies
  package-lock.json
  package.json
  src/app/globals.css
  src/components/RichTextEditor.tsx
  src/lib/markdown.ts
  todos/sample-1.md
  todos/sample-1.meta.json
Due: markdownlint, eslint

feat: improve RichTextEditor dark mode support and styling
  src/components/RichTextEditor.tsx
  todos/sample-1.meta.json
Due: eslint

fix: improve RichTextEditor text color handling for light and dark modes
  src/components/RichTextEditor.tsx
  todos/sample-1.meta.json
  todos/sample-4.md
  todos/sample-4.meta.json
Due: markdownlint, eslint

fix: improve RichTextEditor content loading reliability and fix TypeScript errors
  src/components/RichTextEditor.tsx
  todos/BlockNoteテスト.md
  todos/BlockNoteテスト.meta.json
  todos/sample-1.meta.json
  todos/test.md
  todos/test.meta.json
  todos/マークダウンテスト.meta.json
Due: markdownlint, eslint

fix: remove editor ready state implementation to enable Japanese input
  src/components/RichTextEditor.tsx
Due: eslint

fix: prevent IME input disruption in RichTextEditor with debounced onChange
  src/components/RichTextEditor.tsx
Due: eslint

fix: resolve TodoModal content loading issue on first open
  src/components/TodoModal.tsx
Due: eslint

feat: setup Prettier code formatting with VSCode integration
  .prettierrc
  .vscode/settings.json
  lefthook.yml
  package-lock.json
  package.json
  src/components/TodoModal.tsx
Due: eslint

refactor: improve RichTextEditor theming with proper BlockNote integration
  src/components/RichTextEditor.module.css
  src/components/RichTextEditor.tsx
  todos/sample-1.meta.json
Due: eslint

refactor: pass isDarkMode as props instead of using hooks in child components
  src/app/page.tsx
  src/components/NewTodoForm.tsx
  src/components/RichTextEditor.tsx
  src/components/TodoList.tsx
  src/components/TodoModal.tsx
  todos/sample-1.meta.json
Due: eslint

feat: improve auto-save timing to reduce IME input interference
  src/components/RichTextEditor.tsx
  src/components/TodoModal.tsx
Due: eslint

refactor: add TODO comment for RichTextEditor state management optimization
  src/components/RichTextEditor.tsx
Due: eslint

refactor: optimize RichTextEditor state management and auto-save
  src/components/RichTextEditor.tsx
Due: eslint

feat: reduce auto-save interval from 30s to 10s for better responsiveness
  src/components/TodoModal.tsx
  todos/sample-1.md
  todos/sample-1.meta.json
Due: markdownlint, eslint

Update README.md
  README.md
Due: markdownlint

Path conditions:
  markdownlint: any of: *.md
  eslint: any of: *.{js,ts,jsx,tsx}
